#SearchAreaContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: inherit;
}

#SearchBar {
  vertical-align: top;
  font-size: 14px;
  text-indent: 2px;
	min-height: 40px;
	width: inherit;
	transition: border-color 200ms;
	text-align: center;
}

.search-area-flex-item{
  padding: 0.5%;
}

.StandardBorderProperties{
  border: 0.5px solid transparent;
  border-style: solid;
  box-shadow: none;
  outline: none;
  border-radius: 8px;
}

@media (prefers-color-scheme: light){
  #SearchBar:focus {
    border-color: black;
		border-width: 1px;
  }
}

@media (prefers-color-scheme: dark){
  #SearchBar:focus {
    border-color: white;
		border-width: 1px;
  }
}

@media (prefers-color-scheme: light){
  #SearchBar:hover {
    border-color: black;
  }
}

@media (prefers-color-scheme: dark){
  #SearchBar:hover {
    border-color: white;
  }
}

#SearchBarContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: auto;
	width: auto;

}

#SearchButtonImg {
	border: 1px solid transparent;
	display: inline-block;
	cursor: pointer;
	transition: border-color 200ms;
	background-color: transparent;
	width: 18px;
	height: 18px;
}

@media (prefers-color-scheme: light){
  .backgroundcolour-font {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark){
  .backgroundcolour-font {
    background-color: #1a1a1a;
  }
}

@media (prefers-color-scheme: light) {
  #SearchButton:active {
    background-color: #e3e3e6;
  }
}

@media (prefers-color-scheme: dark) {
  #SearchButton:active {
    background-color: #282829;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding-right: 1rem;
}

.pics-row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.row-img{
  width: 35%;
  height: auto;
  object-fit: cover;
  flex: 1;
}